<%- include('partials/header') %>
<div class="notFound d-flex align-items-center">
  <div class="container text-center">
    <h1>404 - Not Found!</h1>
    <hr>
    <h2>Don't worry, you didn't break the internet!</h2>
  </div>
</div>
<%- include('partials/footer') %>